.hidden {
  display: none;
}
.font{
font-size: 25px;
}
.i{
  font-size: 160px;
  text-decoration-line: none;
  text-decoration: none;
}
.ii{
  font-size: 1px;
  text-decoration:solid;
}
.leaf{
  color: green;
  font-size: 33px;
}
.pochi{
  border-radius: 100vh;
  box-shadow: 10px 3px 15px 1px gray;
}